[submodule "IME/ibus-unikey"]
	path = IME/ibus-unikey
	url = https://github.com/mrlequoctuan/ibus-unikey
[submodule "IME/ibus-ringo"]
	path = IME/ibus-ringo
	url = https://github.com/lewtds/ibus-ringo/
[submodule "Vietnamese-Tools/B2Uconverter"]
	path = Vietnamese-Tools/B2Uconverter
	url = git@github.com:myguidingstar/B2Uconverter
[submodule "IME/bogo-python"]
	path = IME/bogo-python
	url = git@github.com:BoGoEngine/bogo-python
[submodule "Front-End-Frameworks/foundation"]
	path = Front-End-Frameworks/foundation
	url = git@github.com:zurb/foundation
[submodule "Front-End-Frameworks/bootstrap"]
	path = Front-End-Frameworks/bootstrap
	url = git@github.com:twitter/bootstrap
[submodule "Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/af_feedmod"]
	path = Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/af_feedmod
	url = git://github.com/mbirth/ttrss_plugin-af_feedmod
[submodule "Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/af_fullpost"]
	path = Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/af_fullpost
	url = git@github.com:atallo/ttrss_fullpost
[submodule "Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/af_refspoof"]
	path = Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/af_refspoof
	url = git@github.com:Alekc/af_refspoof
[submodule "Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/ff_feedcleaner"]
	path = Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/ff_feedcleaner
	url = git@github.com:wltb/ff_feedcleaner
[submodule "Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/markasread"]
	path = Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/markasread
	url = git@github.com:Elv1zz/ttrss_plugin-markasread
[submodule "Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/ff_xmllint"]
	path = Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/ff_xmllint
	url = git@github.com:/fastcat/tt-rss-ff-xmllint
[submodule "Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/ttrss_fullpost"]
	path = Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/ttrss_fullpost
	url = git@github.com:itohsnap/ttrss_fullpost
[submodule "Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/tt-rss_plugin_inline-readability"]
	path = Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/tt-rss_plugin_inline-readability
	url = git@github.com:Strayer/tt-rss_plugin_inline-readability
[submodule "Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/tt-rss_plugin_instaread"]
	path = Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/tt-rss_plugin_instaread
	url = git@github.com:ebell451/tt-rss_plugin_instaread
[submodule "Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/tt-rss_plugin_readabillity_mobile"]
	path = Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/tt-rss_plugin_readabillity_mobile
	url = git@github.com:ebell451/tt-rss_plugin_readabillity_mobile
[submodule "Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/ttrss-videoframes"]
	path = Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/ttrss-videoframes
	url = git@github.com:tribut/ttrss-videoframes
[submodule "Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/ttrss-xml-start-tag-cleaner"]
	path = Feed-RSS-Reader/Tiny-Tiny-RSS/Plugins/ttrss-xml-start-tag-cleaner
	url = git@github.com:guylabs/ttrss-xml-start-tag-cleaner
[submodule "Feed-RSS-Reader/Tiny-Tiny-RSS/Themes/feedly-theme"]
	path = Feed-RSS-Reader/Tiny-Tiny-RSS/Themes/feedly-theme
	url = git@github.com:levito/tt-rss-feedly-theme
[submodule "Feed-RSS-Reader/Tiny-Tiny-RSS/Themes/chalk"]
	path = Feed-RSS-Reader/Tiny-Tiny-RSS/Themes/chalk
	url = git@github.com:asyncopation/ttrss-theme-chalk
[submodule "Feed-RSS-Reader/Tiny-Tiny-RSS/Tiny-Tiny-RSS"]
	path = Feed-RSS-Reader/Tiny-Tiny-RSS/Tiny-Tiny-RSS
	url = git@github.com:gothfox/Tiny-Tiny-RSS
[submodule "dotfiles/mitsuhiko-dotfiles"]
	path = dotfiles/mitsuhiko-dotfiles
	url = git@github.com:mitsuhiko/dotfiles
[submodule "dotfiles/necolas-dotfiles"]
	path = dotfiles/necolas-dotfiles
	url = git@github.com:necolas/dotfiles
[submodule "dotfiles/w0ng-dotfiles"]
	path = dotfiles/w0ng-dotfiles
	url = git@github.com:w0ng/dotfiles
[submodule "dotfiles/Wintervenom-Configuration"]
	path = dotfiles/Wintervenom-Configuration
	url = git@github.com:Wintervenom/Configuration
[submodule "dotfiles/Wintervenom-Scripts"]
	path = dotfiles/Wintervenom-Scripts
	url = git@github.com:Wintervenom/Scripts
[submodule "dotfiles/justone-dotfiles"]
	path = dotfiles/justone-dotfiles
	url = git@github.com:justone/dotfiles-personal
[submodule "Static-Site-Generator/pelican"]
	path = Static-Site-Generator/pelican
	url = git@github.com:getpelican/pelican
[submodule "Static-Site-Generator/jekyll"]
	path = Static-Site-Generator/jekyll
	url = git@github.com:jekyll/jekyll
[submodule "dotfiles/dotfile-boilerplate"]
	path = dotfiles/dotfile-boilerplate
	url = git@github.com:thcipriani/dotfile-boilerplate
[submodule "dotfiles/luizfl-dots"]
	path = dotfiles/luizfl-dots
	url = git@github.com:luizfl/dots
[submodule "dotfiles/mathiasbynens-dotfiles"]
	path = dotfiles/mathiasbynens-dotfiles
	url = git@github.com:mathiasbynens/dotfiles
[submodule "dotfiles/prezto"]
	path = dotfiles/prezto
	url = git@github.com:sorin-ionescu/prezto
[submodule "Documents/dochub"]
	path = Documents/dochub
	url = git@github.com:rgarcia/dochub
[submodule "Documents/gitmagic"]
	path = Documents/gitmagic
	url = git@github.com:vnwildman/gitmagic
[submodule "Documents/git-reference"]
	path = Documents/git-reference
	url = git@github.com:icyfork/git-reference
[submodule "Documents/code-guide"]
	path = Documents/code-guide
	url = git@github.com:mdo/code-guide
[submodule "Documents/issue-guidelines"]
	path = Documents/issue-guidelines
	url = git@github.com:necolas/issue-guidelines
[submodule "Documents/Python-Documentation-Kindle"]
	path = Documents/Python-Documentation-Kindle
	url = git@github.com:charlax/Python-Documentation-Kindle
[submodule "Documents/explainshell"]
	path = Documents/explainshell
	url = git@github.com:idank/explainshell
[submodule "Feed-RSS-Reader/Tiny-Tiny-RSS/Addition/tiny_tiny_rss-openshift-quickstart"]
	path = Feed-RSS-Reader/Tiny-Tiny-RSS/Addition/tiny_tiny_rss-openshift-quickstart
	url = git@github.com:openshift-quickstart/tiny_tiny_rss-openshift-quickstart
