[submodule "IME/ibus-unikey"]
	path = IME/ibus-unikey
	url = https://github.com/mrlequoctuan/ibus-unikey
[submodule "IME/ibus-ringo"]
	path = IME/ibus-ringo
	url = https://github.com/lewtds/ibus-ringo/
[submodule "Vietnamese-Tools/B2Uconverter"]
	path = Vietnamese-Tools/B2Uconverter
	url = git@github.com:myguidingstar/B2Uconverter
[submodule "IME/bogo-python"]
	path = IME/bogo-python
	url = git@github.com:BoGoEngine/bogo-python
[submodule "Front-End-Frameworks/foundation"]
	path = Front-End-Frameworks/foundation
	url = git@github.com:zurb/foundation
[submodule "Front-End-Frameworks/bootstrap"]
	path = Front-End-Frameworks/bootstrap
	url = git@github.com:twitter/bootstrap
