[submodule "IME/ibus-unikey"]
	path = IME/ibus-unikey
	url = https://github.com/mrlequoctuan/ibus-unikey
[submodule "IME/ibus-ringo"]
	path = IME/ibus-ringo
	url = https://github.com/lewtds/ibus-ringo/
[submodule "Vietnamese-Tools/B2Uconverter"]
	path = Vietnamese-Tools/B2Uconverter
	url = git@github.com:myguidingstar/B2Uconverter
